<div class="widget__title">
  {{title}}
</div>

<div class="widget__value">
  {{value}}
</div>

<div class="widget__updated-at">
  {{#if updatedAt}}
    Updated at {{moment-format updatedAt "YYYY-MM-DD HH:mm:ss"}}
  {{/if}}
</div>