<div class="row">
  <div class="small-12 medium-4 columns">
    {{widgets/number-widget title="Test Number" value=5}}
  </div>

  <div class="small-12 medium-6 columns">
    {{widgets/gauge-widget title="Test Gauge" channel="gauge"}}
  </div>
</div>