$gauge-widget__main-color: #542437;

.gauge-widget {
  padding: 2*$global-padding;
  background-color: $gauge-widget__main-color;
}

.gauge-widget__title {
  color: lighten($gauge-widget__main-color, 75%);
  font-size: 1.5rem;
  text-align: center;
}

.gauge-widget__chart {
  display: block;
  margin: 1rem auto 0;
}

.gauge-widget__value-path {
  fill: lighten($gauge-widget__main-color, 75%);
}

.gauge-widget__remainder-path {
  fill: lighten($gauge-widget__main-color, 10%);
}

.gauge-widget__text {
  fill: lighten($gauge-widget__main-color, 75%);
  font-weight: 600;
  text-anchor: middle;
}
