$gauge-widget__main-color: #542437;

&.gauge-widget {
  background-color: $gauge-widget__main-color;
}

.gauge-widget__title {
  margin-bottom: $global-padding;
  color: lighten($gauge-widget__main-color, 75%);
  font-size: 1.5rem;
  text-align: center;
}

.gauge-widget__chart-container {
  display: block;
  overflow: hidden;
}

.gauge-widget__svg {
  display: block;
  margin: 0 auto;
}

.gauge-widget__value-path {
  fill: lighten($gauge-widget__main-color, 75%);
}

.gauge-widget__remainder-path {
  fill: lighten($gauge-widget__main-color, 10%);
}

.gauge-widget__text {
  fill: lighten($gauge-widget__main-color, 75%);
  font-weight: 600;
  text-anchor: middle;
}
