$line-chart-widget__main-color: #C94C00;

&.line-chart-widget {
  background-color: $line-chart-widget__main-color;
}

.line-chart-widget__title {
  margin-bottom: 2rem;
  color: lighten($line-chart-widget__main-color, 75%);
  font-size: 1.5rem;
  text-align: center;
}

.line-chart-widget__chart-container {
  display: block;
  overflow: hidden;
}

.line-chart-widget__svg {
  display: block;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: lighten($line-chart-widget__main-color, 75%);
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 2, 2;
}

.line {
  fill: none;
  stroke: lighten($line-chart-widget__main-color, 75%);
  stroke-width: 1.5px;
}

.axis-text {
  fill: lighten($line-chart-widget__main-color, 75%);
  font-size: 14px;
}
