<div class="line-chart-widget__title">
  {{title}}
</div>

<div class="line-chart-widget__chart-container">
  <div class="line-chart-widget__chart">
    <svg class="line-chart-widget__svg" width="{{width}}" height="{{height}}">
    </svg>
  </div>
</div>