<div class="index-dashboard">
  <h2 class="text-center">
    Mockboard
  </h2>

  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        {{number-widget title="Test Number" value=5 channel="number"}}
      </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        {{gauge-widget title="Test Gauge" value=40 max=100 channel="gauge"}}
      </li>

      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
        {{line-chart-widget title="Test LineChart" channel="linechart"}}
      </li>

      <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
        {{bar-chart-widget title="Test Bar Chart" channel="barchart"}}
      </li>
    </ul>
  </div>
</div>