<h3 class="text-center">
  Mockboard
</h3>

<div class="row">
  <div class="small-12 medium-4 columns">
    {{number-widget title="Test Number" value=5 channel="number"}}
  </div>

  <div class="small-12 medium-6 columns">
    {{gauge-widget title="Test Gauge" channel="gauge"}}
  </div>
</div>
