$gauge-widget__main-color: #542437;

&.gauge-widget {
  padding: 2*$global-padding;
  background-color: $gauge-widget__main-color;
}

.gauge-widget__title {
  margin-bottom: $global-padding;
  color: lighten($gauge-widget__main-color, 75%);
  font-size: 1.5rem;
  text-align: center;
}

.gauge-widget__chart-container {
  display: block;
  position: relative;
  padding-bottom: 76%;
  overflow: hidden;
}

.gauge-widget__chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.gauge-widget__value-path {
  fill: lighten($gauge-widget__main-color, 75%);
}

.gauge-widget__remainder-path {
  fill: lighten($gauge-widget__main-color, 10%);
}

.gauge-widget__text {
  fill: lighten($gauge-widget__main-color, 75%);
  font-weight: 600;
  text-anchor: middle;
}
