<div class="gauge-widget__title">
  {{title}}
</div>

<div class="gauge-widget__chart-container">
  <div class="gauge-widget__chart">
    <svg class="gauge-widget__svg" width="{{width}}" height="{{height}}">
      <g class="gauge-widget__viewport" transform="{{transform}}">
      </g>
    </svg>
  </div>
</div>