<div class="gauge-widget__title">
  {{title}}
</div>

<div class="gauge-widget__chart-container">
  <svg width="{{width}}" height="{{height}}" class="gauge-widget__chart">
    <g transform="{{transform}}">
    </g>
  </svg>
</div>